.header {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(80, 128, 239, 1) 0%, rgba(80, 128, 239, 1) 8%, rgba(219, 230, 255, 1) 100%) repeat scroll 0 0;
  border-radius: 5px;
  height: 180px;
}
.login-form {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-right: 9px;
  margin-top: 9px;
  padding: 10px;
}
input {
  margin-bottom: 5px;
  text-align: center;
}
.logo {
  float: left;
  margin-left: 2%;
  padding: 2% 3px 3px;
}
.title {
  padding-top: 4%;
  text-align: center;
}

/*///////////////////////////menu/////////////////////*/
ul {
  background-color: #dbe6ff;
  border: 3px solid #e7e7e7;
  border-radius: 5px;
  display: block;
  float: left;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  width: 99.6%;
}

li {
    float: left;
}

li a {
  border-radius: 5px;
  color: #666;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #87aafa;
  color: #fff;
}

li a.active {
  background-color: #17326e;
  color: white;
}

.perfilimg {
  margin-top: 5px;
  text-align: center;
}
.logologin {
  text-align: center;
}
/*/////////////////////////////////////////////*/
.destacado {
  background: wheat none repeat scroll 0 0;
  float: left;
  height: auto;
  margin-left: 3%;
  margin-top: 3%;
  width: 70%;
   margin-bottom:110px;
}
.not {
  background: violet none repeat scroll 0 0;
  display: inline-block;
  height: 250px;
  margin: 9px;
  width: 48%;
}
.sidebar {
  background: turquoise none repeat scroll 0 0;
  float: right;
  height: 500px;
  margin-bottom: 110px;
  margin-right: 3%;
  margin-top: 3%;
  width: 20%;
}
.footer {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  bottom: 0;
  display: flex;
  height: 100px;
  margin-top: 100px;
  width: 100%;
}
.perfil {
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
}
.info {
  display: inline-block;
  width: 30%;
}
* {
    margin: 0;
    padding: 0;
}

body {

background: rgba(219,230,255,1);
background: -moz-linear-gradient(top, rgba(219,230,255,1) 0%, rgba(219,230,255,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,230,255,1)), color-stop(51%, rgba(219,230,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(219,230,255,1) 0%, rgba(219,230,255,1) 51%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(219,230,255,1) 0%, rgba(219,230,255,1) 51%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(219,230,255,1) 0%, rgba(219,230,255,1) 51%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(219,230,255,1) 0%, rgba(219,230,255,1) 51%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe6ff', endColorstr='#ffffff', GradientType=0 );

    background-repeat: repeat;
    height: 500px;
    padding: 1px;
}

h1 { color: white }
/*/////////////////////////////other/////////////////////*/

h2{
  color:#4000FF;
  text-align:left;
  font-family:icon;
  font-size: 30px;
  position: absolute;
}

.log-status.wrong-entry {
  -webkit-animation: wrong-log 0.3s;
  -moz-animation: wrong-log 0.3s;
  -ms-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
  }
@keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-ms-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-moz-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
.log-btn {
  background: #58acfa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 0.8;
}
.log-btn:hover {
  background: #58acfa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 1;
}
.out-btn{
  background:#FF0000;
  display:inline-block;
  width:100%;
  font-size:14px;
  height:20px;
  width: 120px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
   opacity: 0.8;
}
.out-btn:hover{
  background:#FF0000;
  display:inline-block;
  width:100%;
  font-size:14px;
  height:20px;
  width: 120px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
   opacity: 1;
}
.sign-btn {
  background: #5858fa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
   opacity: 0.8;
}
.sign-btn:hover {
  background: #5858fa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 1;
}

.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}

#contactos {
    line-height:30px;
    width:32%;
    float:right;
    padding:5px;        
}
#contactMap {
  position: fixed;
  float:left;
  padding:75px;    
}
#googleMap{
  display: inline-block;
  width:800px;
  height:550px;
  position: absolute;
}
#panel_ruta{
  position: absolute;
  background: grey;
  height: 550px;
  width: 250px;
  display: none;
  overflow-y: scroll;
}
.log-error{
  text-align: center;
  color: red;
}